@font-face {
    font-family: 'Remingtoned_Type';
    src: (url('../style/Remingtoned_Type.ttf'));
}

@font-face {
    font-family: 'Roman_New_Times';
    src: (url('../style/Roman_New_Times.otf'));
}